@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%); // (graphic design text)
$darkBlue: hsl(198, 62%, 26%); // (photography text)
$darkModerateCyan: rgb(69, 140, 126); // (footer)

$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: 540px;
    background-image: url("/src/images/mobile/image-header.jpg");
    background-size: cover;
    padding: 2rem 1.5rem;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.navbar-modal {
    margin-top: 3.1rem;
    width: 87.5%;
    height: 56.5%;
    background-color: $white;
    position: absolute;
    transition: opacity 0.5s, transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    z-index: 3;
}

.navbar-modal::before {
    content: "";
    border-style: solid;
    border-width: 25px 24px 0 0;
    border-color: transparent $white transparent transparent;
    position: absolute;
    left: calc(100% - 24px);
    top: -24px;
}

.navbar-about,
.navbar-services,
.navbar-projects {
    text-align: center;
    margin-top: 1.05rem;
    margin-bottom: 1.05rem;
    font-size: 20px;
    color: $darkGrayishBlue;
    font-family: "Barlow", sans-serif;
}

.navbar-contact {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: none;
    font-size: 15px;
    background-color: $yellow;
    color: $veryDarkDesaturatedBlue;
    padding: 1.1rem 2rem;
    border-radius: 2rem;
    font-family: "Fraunces", sans-serif;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.we-are-creative {
    color: $white;
    font-family: "Fraunces", sans-serif;
    font-size: 39px;
    letter-spacing: 8px;
    font-weight: 900;
    margin-bottom: 2rem;
}

.arrow-down {
    transform: translateY(1rem);
}

//GRID

.first-grid {
    display: grid;
    width: 100%;
}

.image-transform {
    background-image: url("/src/images/mobile/image-transform.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 312px;
}

.content-under-egg {
    text-align: center;
    margin-top: 4rem;
}

.egg-title {
    font-size: 32px;
    font-family: "Fraunces", sans-serif;
    padding: 0 2rem;
    color: $veryDarkDesaturatedBlue;
    font-weight: 900;
}

.egg-paragraph {
    margin-top: 1.4rem;
    color: $darkGrayishBlue;
    font-family: "Barlow", sans-serif;
    padding: 0 1.5rem;
    font-size: 18px;
    line-height: 30px;
}

.egg-learn-more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    margin-top: 2.1rem;
    font-family: "Fraunces", sans-serif;
    color: $veryDarkDesaturatedBlue;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}

.egg-learn-more::after {
    content: "";
    transform: translateY(-4px);
    display: block;
    width: inherit;
    height: 5px;
    background-color: $yellow;
    opacity: 0.4;
    transition: background-color 0.5s;
}

.stand-out {
    margin-top: 7.5rem;
    background-image: url("/src/images/mobile/image-stand-out.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 312px;
}

.graphic-design {
    margin-top: 7.5rem;
    background-image: url("/src/images/mobile/image-graphic-design.jpg");
}

.photography {
    background-image: url("/src/images/mobile/image-photography.jpg");
}

.graphic-design,
.photography {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.internal-content {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -87%);
}

.internal-title,
.internal-paragraph {
    color: $darkDesaturatedCyan;
}

.second-internal-title,
.second-internal-paragraph {
    color: $darkBlue;
}

.internal-title,
.second-internal-title {
    font-size: 28px;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
}

.internal-paragraph,
.second-internal-paragraph {
    font-family: "Barlow", sans-serif;
    margin-top: 1.65rem;
    padding: 0 1rem;
    font-size: 16px;
    line-height: 27px;
}

.second-internal-title {
    margin-right: 0.9rem;
}

//testimonials

.testimonials {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3.5rem;
    padding-bottom: 4.5rem;
}

.testimonials-title {
    text-align: center;
    font-size: 15px;
    color: $grayishBlue;
    font-family: "Fraunces", sans-serif;
    letter-spacing: 5px;
    margin-top: 0.5rem;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
}

.feedback-avatar {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    margin-top: 4.2rem;
}

.feedback-paragraph {
    text-align: center;
    margin-top: 2rem;
    font-family: "Barlow", sans-serif;
    color: $veryDarkGrayishBlue;
    line-height: 33px;
    font-size: 18px;
}

.feedback-fullname {
    margin-top: 1.9rem;
    font-family: "Fraunces", sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: $veryDarkDesaturatedBlue;
}

.feedback-job {
    margin-top: 0.75rem;
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    color: $grayishBlue;
}

//SECOND GRID

.second-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.gallery-milkbottles {
    background-image: url("/src/images/mobile/image-gallery-milkbottles.jpg");
}

.gallery-orange {
    background-image: url("/src/images/mobile/image-gallery-orange.jpg");
}

.gallery-cone {
    background-image: url("/src/images/mobile/image-gallery-cone.jpg");
}

.gallery-sugar-cube {
    background-image: url("/src/images/mobile/image-gallery-sugar-cubes.jpg");
}

.gallery-milkbottles,
.gallery-orange,
.gallery-cone,
.gallery-sugar-cube {
    background-size: cover;
    width: 100%;
    height: 187.5px;
}

//FOOTER

.footer {
    background-color: rgba(69, 140, 126, 0.5);
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.footer-title {
    text-align: center;
    color: $darkDesaturatedCyan;
    letter-spacing: 1.5px;
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-size: 35px;
    margin: 0.5rem 1rem 1.5rem 0;
}

.footer-navbar {
    display: flex;
    justify-content: center;
    color: rgba(69, 140, 126, 0.9);
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    margin-top: 1.2rem;
}

.footer-services {
    margin: 0 3.5rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 5.5rem;
}

.icon {
    margin: 0 0.85rem;
}

.icon[alt="twitter"] {
    width: 20px;
    height: 17px;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

@media screen and (min-width: 1440px) {
    .navbar-modal {
        display: none;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .header {
        height: 800px;
        background-image: url("/src/images/desktop/image-header.jpg");
        padding: 2rem 3rem;
    }

    .navbar {
        margin-top: 0.1rem;
    }

    .sunnyside-logo {
        transform: scale(1.35);
        margin-left: 1rem;
        margin-top: 0.1rem;
    }

    .navbar-desktop-links {
        display: flex;
        align-items: center;
    }

    .nav-about,
    .nav-services,
    .nav-projects {
        margin-right: 3rem;
        color: $white;
        font-family: "Barlow", sans-serif;
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
    }

    .nav-projects {
        margin-right: 3rem;
    }

    .nav-contact {
        padding: 1.15rem 2rem;
        background-color: $white;
        border-radius: 2rem;
        font-size: 15px;
        color: $darkDesaturatedCyan;
        font-family: "Fraunces", sans-serif;
        transition: color 0.5s, background-color 0.5s;
        cursor: pointer;
    }

    .nav-contact:hover {
        color: $white;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .intro {
        top: 36.5%;
        transform: translate(-50%, -36.5%);
    }

    .we-are-creative {
        font-size: 55px;
        letter-spacing: 11px;
        margin-bottom: 4.75rem;
    }

    .first-grid {
        grid-template-columns: 50% 50%;
    }

    .content-under-egg.second-item {
        padding: 9.75rem 7rem 0 10.5rem;
    }

    .content-under-egg.fourth-item {
        padding: 9.75rem 5rem 0 7rem;
    }

    .fourth-item .egg-paragraph {
        padding-right: 5rem;
    }

    .second-item .egg-learn-more {
        left: 10.5rem;
        transform: translateX(0);
        margin-left: 0.5rem;
        padding-top: 0.5rem;
    }

    .fourth-item .egg-learn-more {
        left: 7rem;
        transform: translateX(0);
        margin-left: 0.5rem;
        padding-top: 0.5rem;
    }

    .content-under-egg {
        position: relative;
        text-align: left;
        margin-top: 0;
    }

    .egg-title {
        padding: 0;
        padding-right: 5rem;
        font-size: 40.5px;
    }

    .egg-paragraph {
        padding: 0;
        margin-top: 2rem;
    }

    .egg-learn-more:hover::after {
        background-color: $softRed;
    }

    .second-item {
        order: 1;
    }

    .image-transform,
    .stand-out {
        height: 600px;
    }

    .stand-out, .graphic-design {
        margin-top: 0;
    }

    .image-transform {
        order: 2;
        background-image: url("/src/images/desktop/image-transform.jpg");
    }

    .stand-out {
        order: 3;
        background-image: url("/src/images/desktop/image-stand-out.jpg");
    }

    .fourth-item {
        order: 4;
    }

    .graphic-design {
        order: 5;
        background-image: url("/src/images/desktop/image-graphic-design.jpg");
    }

    .photography {
        order: 6;
        background-image: url("/src/images/desktop/image-photography.jpg");
    }

    .internal-paragraph {
        padding: 0 12rem;
        margin-bottom: 0.1rem;
        margin-top: 1.75rem;
    }

    .second-internal-paragraph {
        padding: 0 12rem;
    }

    .second-internal-title {
        margin-left: 1rem;
    }
}